@import "./common.css";
@import "./normalize.css";

.blended-container {
  width: inherit;
  height: 540px;
  background-image: url(../assets/hero-medal-bg.svg);
}

.blended-btn {
  width: 180px;
  height: 180px;
  border: none;
  border-radius: 50%;
}

.blended-badge {
  width: 90px;
  height: 122px;
}
