@import "./common.css";
@import "./normalize.css";

:root {
  --base-bg: #fffcf9;
  --base-font: #7d6f5d;
}

/* blended */
.choongman {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1440px;
  margin: 0 auto;
}

.blended {
  max-width: inherit;
  height: 540px;
  background: url(../assets/hero-medal-bg.svg) center top fixed;
}

.blended-inner {
  position: relative;
  height: inherit;
  margin: 0 auto;
}

.medal {
  width: 300px;
  height: 300px;
  perspective: 600px;
}

.medal:hover .front {
  transform: rotateY(180deg);
}

.medal:hover .back {
  transform: rotateY(0deg);
}

.front,
.back {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
  transition: all 0.8s;
}

.front {
  background: url(../assets/ellipse.svg) center no-repeat;
  transform: rotateY(0deg);
}

.back {
  flex-direction: column;
  background: url(../assets/medal-back.svg);
  background-size: cover;
  color: var(--base-font);
  transform: rotateY(-180deg);
}

.back h2 {
  margin: 0;
  margin-top: 20px;
}

.back p {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  text-align: center;
}

.view-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background: transparent;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  color: var(--base-font);
  border: 2px solid var(--base-font);
  border-radius: 3px;
  line-height: 1;
  cursor: pointer;
}

.view-btn:hover {
  color: var(--base-bg);
  border: 2px solid var(--base-font);
  background: var(--base-font);
}

/* store */
.store {
  max-width: inherit;
  height: 420px;
  background: linear-gradient(
    300deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(61, 61, 61, 1) 25%,
    rgba(96, 96, 96, 1) 50%,
    rgba(55, 55, 55, 1) 75%,
    rgba(8, 7, 7, 1) 100%
  );
}

.store-inner {
  position: relative;
  height: inherit;
}

.store-pic1,
.store-pic2 {
  position: absolute;
  border-radius: 50%;
  filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.6));
}

.store-pic1 {
  top: -15%;
  left: 15%;
  width: 360px;
  height: 360px;
  background: url(../assets/coffee-table.svg) no-repeat 50% 50% / cover;
}

.store-pic2 {
  top: 35%;
  left: 32%;
  width: 220px;
  height: 220px;
  background: url(../assets/coffee-woman.svg) no-repeat 60% 60% / cover;
  border-radius: 50%;
}

.intro-cafe {
  margin-top: 80px;
  padding-right: 250px;
  float: right;
  color: #fffcf9;
  line-height: 1.5;

  & h2 {
    font-size: 30px;
    margin: 0;
  }

  & .mb-0 {
    margin: 0;
  }

  & :nth-child(3) {
    margin-bottom: 40px;
  }
}

.store-find {
  padding: 10px 20px;
  color: var(--base-bg);
  border: 1px solid var(--base-bg);
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 1;
}

.store-find:hover {
  color: rgba(0, 0, 0, 0.6);
  background: var(--base-bg);
}

.store-pic3 {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 152px;
  height: 127px;
  background: url(../assets/coffee-store.svg);
}
